Package: com.bandarhl.bhtwitter
Name: FRX
Version: 4.3
Architecture: iphoneos-arm
Description: Awesome tweak for X
Maintainer: Fares
Author: FRMAMLF
Section: Tweaks
Depends: mobilesubstrate, ws.hbang.common
